* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* header */
header {             /*parent container*/
    width: 100%;
    height: 5em;
    font-size: 1em;
    font-family: 'Lora', serif;
    border-bottom: 1px solid black;
}

header img{
    float: left;
    padding-left: 8em;
    margin: 0.5em 0;
    max-width: 18em;
    height: auto;
}

div {
    width: 60%;
    float: left;
}

nav {
    width: 40%;
    float: left;
    padding-left: 8em;
}

li {
    float: left;
    width: 20%;
    list-style: none;
    margin: 1.8em 0;
}

header a {
    color: black;
    text-decoration: none;
}

/* Banner Image */
/* header + section {
    height: 300px;
    background-color: khaki;
} */

/* DROP DOWN MENU */

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input {
    border: 1px solid #E67204;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    background-color: white;
    color: #E67204;
    border-radius: 5px;
    padding: 0.3%;
}

select {
    display: flex;
    margin: 38px auto 5px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid gray;
}

/* sections*/
.booklists {
    height: 45em;
    padding: 5em 0;
    font-family: 'Lora', serif;
    font-size: 10px;             /*parent container's font-size*/
    overflow: hidden;
}


/* booklists row sections and divs */

.booklists div {
    float: left;
    width: 23.4%;
    height: 41em;
    padding: 1.5em;
    margin: 2em 1em;
    font-family: 'Lora', serif;
    background-color: #e672041c;
    border-radius: 2em;
}

.booklists img, .booklists h3, .booklists span {
    padding: 0.5em 0;
    max-height: 13.8em;
    width: auto;
    font-weight: 400;
    font-size: 1.8em;
}

/* buttons */
button {
    color: white;
    background-color: #E67204;
    border: none;
    font-size: 1.9em;
    font-family: Arial, Helvetica, sans-serif, serif;
    font-weight: bold;
    padding: 0.3em;
    border-radius: 0.5em;
    position: relative;
    top: -0.8em;
    left: 10.9em;
}


/* customer review sections and divs */

.reviews p {
    padding: 1em 0;
}

.reviews {
    margin: 4em 0;
    height: 28em;
    width: 100%;
    font-family: 'Lora', serif;
}

.reviews h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #E67204;
    text-align: center;
    margin: 1.5em 0 0.5em 0;
}

.reviews img {
    padding: 1em 0;
    max-height: 11em;
    width: auto;
    border-radius: 50%;
    position: relative;
    left: 9em;
}

.reviews h3 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
}

.reviews div {
    float: left;
    width: 31.33%;
    margin: 0 0.7em;
    padding: 1em 1.5em;
    border-radius: 1em;
}

.reviews span {
    position: relative;
    top: 0px;
    left: 120px;
    margin: 1em 0;
}

/* Additional information bottom box */
.finalSection {
    background-color: black;
    color: white;
    height: 33em;
    font-family: 'Lora', serif;
    font-size: 10px;          /*parent container's font-size*/
    overflow: hidden;
}

.finalSection li {
    list-style: none;
    float: left;
    width: 5em;
    margin: 1em 0;
}

.finalSection i {
    color: white;
    font-size: 2em;
}

.finalSection h2 {
    clear: both;
    margin: 0.2em 0 0.4em 0;
    font-weight: bold;
    color: #E67204;
    font-size: 3em;
}

/* bottom box divs */
.partOne {
    padding: 5em 0 0 8em;
    width: 50%;
    height: auto;
}

.partTwo {
    padding: 2.5em 0 0 26.5em;
    width: 50%; 
    height: auto;
    font-size: 1.5em;
}

.partOne p {
    width: 50%;
    font-size: 1.5em;
}

h4 {
    margin: 4% 0;
    font-weight: 400;
}

.partTwo a {
    color: white;
    text-decoration: none;
}

.partTwo p {
    margin: 2% 0;
}

/* footer */
footer {
    height: 50px;
    padding: 1vw;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
}

/* HOVER EFFECT */
.reviews div:hover {
    box-shadow: 1px 1px 20px gray;
}

.finalSection i:hover {
    font-size: 1.5vw;
}

.booklists div:hover {
    box-shadow: 1px 1px 5px gray;
}