* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* header */
header {             /*parent container*/
    width: 100%;
    height: 5em;
    font-size: 1em;
    font-family: 'Lora', serif;
    border-bottom: 1px solid black;
}

header img{
    float: left;
    padding-left: 8em;
    margin: 0.5em 0;
    max-width: 18em;
    height: auto;
}

div {
    width: 60%;
    float: left;
}

nav {
    width: 40%;
    float: left;
    padding-left: 8em;
}

li {
    float: left;
    width: 20%;
    list-style: none;
    margin: 1.8em 0;
}

header a {
    color: black;
    text-decoration: none;
}


/* DROP DOWN MENU */

header + form {
    font-size: 10px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input {
    border: 1px solid #E67204;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    color: #E67204;
    border-radius: 5px;
    padding: 0.3em;
}

select {
    display: flex;
    margin: 4em auto 1em auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #E67204;
    color: white;
    border-radius: 5px;
    padding: 0.2em;
    border: 0px solid #E67204;
}

/* sections*/
.booklists {
    height: auto;
    width: 100%;
    margin: 4em 0;
    font-family: 'Lora', serif;
    font-size: 10px;             /*parent container's font-size*/
    overflow: hidden;
}


/* booklists row sections and divs */

.booklists div {
    float: left;
    width: 23.4%;
    height: 60vh;
    padding: 1.5em;
    margin: 2em 1em;
    font-family: 'Lora', serif;
    background-color: #e672041c;
    border-radius: 2em;
}

.booklists img, .booklists h3, .booklists span {
    padding: 0.5em 0;
    max-width: 20em;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 1.8em;
}

/* buttons */
button {
    color: white;
    background-color: #E67204;
    border: none;
    font-size: 1.9em;
    font-family: Arial, Helvetica, sans-serif, serif;
    font-weight: bold;
    padding: 0.3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 1em auto auto;
}


/* customer review sections and divs */

.reviews p {
    padding: 1em 0;
}

.reviews {
    margin: 4em 0;
    height: 28em;
    width: auto;
    font-family: 'Lora', serif;
}

.reviews h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #E67204;
    text-align: center;
    margin: 1.5em 0 0.5em 0;
}

.reviews img {
    max-height: 11em;
    height: 100%;
    width: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
}

.reviews h3 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
}

.reviews div {
    float: left;
    width: 31.33%;
    margin: 0 0.7em;
    padding: 1em 1.5em;
    border-radius: 1em;
}


/* Additional information bottom box */
.finalSection {
    background-color: black;
    color: white;
    max-width: 100%;
    height: 55vh;
    font-family: 'Lora', serif;
    float: left;
}

.finalSection li {
    list-style: none;
    float: left;
    width: 5vw;
    margin: 0.5em 0;
}

.finalSection i {
    color: white;
    font-size: 1.2em;
}

.finalSection h2 {
    clear: both;
    margin: 2em 0 0.6em 0;
    font-weight: 600;
    color: #E67204;
    font-size: 2em;
}

/* bottom box divs */
.partOne {
    padding: 5em 1em 0 6em;
    width: 50%;
    height: auto;
    float: left;
}

.partTwo {
    padding: 5em 7em 3em 27em;
    width: 50%; 
    height: auto;
    float: left;
}

.partOne p {
    width: 50%;
}

h4 {
    margin: 0.7em 0;
    font-weight: 400;
}

.partTwo a {
    color: white;
    text-decoration: none;
}


/* footer */
footer {
    height: 10vh;
    padding: 1em;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
    clear: both;
}

/* HOVER EFFECT */
.reviews div:hover {
    box-shadow: 1px 1px 20px gray;
}

.finalSection i:hover {
    font-size: 1.5em;
}

.booklists div:hover {
    box-shadow: 1px 1px 5px gray;
}

@media (min-width: 200px) and (max-width: 600px) {

    header {             
        height: 4em;              /*parent container*/
        font-size: 0.9em;
    }
    
    header img{
        padding-left: 1em;
        max-width: 8em;
    }

    header div {
        width: 30%;
    }

    nav {
        width: 70%;
        padding-left: 0;
    }
    
    li {
        width: 30%;
        margin: 1.4em 0;
    }


    /* DROP DOWN MENU */
    input {
        margin: 0.7em auto 0 auto;
    }
    
    select {
        margin: 3em auto 0 auto;
    }


    /* sections*/
    .booklists {
        max-width: 100%;
        height: auto;
        margin: 2em 0;
    }

    .booklists h3 {
        font-size: 1.5em;
    }

    .booklists span {
        font-size: 1.4em;
    }

    /* booklists row sections and divs */

    .booklists div {
        width: 49%;
        height: auto;
        margin: 1em 0.1em;
    }


    /* buttons */
    button {
        font-size: 1.3em;
    }
    

    /* customer review sections and divs */

    .reviews p {
        padding: 1em 0;
    }

    .reviews {
        margin: 2em 4em;
        height: 100%;
        clear: both;
    }

    .reviews h1 {
        margin: 0.5em 0;
        font-size: 2em;
    }

    .reviews img {
        max-height: 8em;
        margin: 3em auto 2em auto;
    } 

    .reviews div {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* bottom box */
    .finalSection {
        height: 43vh;
        overflow: hidden;
    }

    .finalSection i {
        font-size: 0.7em;
    }

    .finalSection h2 {
        margin: 1em 0 0.3em 0;
        font-size: 1.4em;
    }

    /* bottom box divs */
    .partOne, .partTwo {
        padding: 1em 1em 0 1.5em;
        width: 100%;
        float: none;
    }

    .partOne p {
        width: 100%;
    }

    p, h4, footer {
        font-size: 0.7em;
    }


    /* footer */
    footer {
        height: 8vh;
        font-size: 0.9em;
        padding: 1em 3em;
    }

    /* HOVER EFFECT */
    .reviews div:hover {
        box-shadow: 1px 1px 10px gray;
    }

    .finalSection i:hover {
        font-size: 1em;
    }

}